/NETBEANS/ejemplos1/nbproject/private/
/NETBEANS/Prueba/nbproject/private/
/NETBEANS/Prueba/build/
/NETBEANS/Prueba/dist/
/NETBEANS/PruebaJSP1/build/
/NETBEANS/PruebaJSP2/nbproject/private/
/NETBEANS/PruebaJSP2/build/
/NETBEANS/Conversor/nbproject/private/
/NETBEANS/Conversor/build/
/NETBEANS-19-20/CalendarioMes/nbproject/private/
/NETBEANS-19-20/CalendarioMes/build/
/NETBEANS-19-20/MemorizarPalabras/nbproject/private/
/NETBEANS-19-20/MemorizarPalabras/build/
/NETBEANS-19-20/CalendarioMes/dist/
/NETBEANS-19-20/CtrolSesiones1/nbproject/private/
/NETBEANS-19-20/CtrolSesiones1/build/
/NETBEANS-19-20/CtrolSesiones2/nbproject/private/
/NETBEANS-19-20/CtrolSesiones2/build/
/NETBEANS-19-20/Conversor/dist/
/NETBEANS-19-20/MemorizarPalabras/dist/
/NETBEANS-19-20/Prueba/dist/
/NETBEANS-19-20/PruebaJSP1/dist/
/NETBEANS-19-20/CtrolSesiones2/dist/
/NETBEANS-19-20/CtrolSesiones1/dist/
/Control-05.NetBeans/ejercicio1 - adivina numero/build/
/Control-05.NetBeans/ejercicio1 - adivina numero/nbproject/private/
/Control-05.NetBeans/ejercicio2 - clases carta baraja/build/
/Control-05.NetBeans/ejercicio2 - clases carta baraja/dist/
/Control-05.NetBeans/ejercicio2 - clases carta baraja/nbproject/private/
/Control-05.NetBeans/ejercicio3 - barajaGrafica/build/
/Control-05.NetBeans/ejercicio3 - barajaGrafica/nbproject/private/
/Control-05.NetBeans/ejercicio4 - poo/build/
/Control-05.NetBeans/ejercicio4 - poo/nbproject/private/
/Control-05.NetBeans/ejercicio1 - adivina numero/dist/
/NETBEANS-19-20/Cookies1/nbproject/private/
/NETBEANS-19-20/Cookies1/build/
/NETBEANS-19-20/Cookies1/dist/
/NETBEANS-19-20/Cookies2/nbproject/private/
/NETBEANS-19-20/Cookies2/dist/
/NETBEANS-19-20/Cookies2/build/
/NETBEANS-19-20/ControlSesiones3Prueba/nbproject/private/
/NETBEANS-19-20/ControlSesiones3Prueba/build/
/NETBEANS-19-20/potato/nbproject/private/
/NETBEANS-19-20/potato/build/
/NETBEANS-19-20/potato/dist/