/NETBEANS/ejemplos1/nbproject/private/
/NETBEANS/Prueba/nbproject/private/
/NETBEANS/Prueba/build/
/NETBEANS/Prueba/dist/
/NETBEANS/PruebaJSP1/build/
/NETBEANS/PruebaJSP2/nbproject/private/
/NETBEANS/PruebaJSP2/build/
/NETBEANS/Conversor/nbproject/private/
/NETBEANS/Conversor/build/